.product-card {
    position: relative;
    background-color: #F4F4F4;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 430px;
    width: 270px;
    padding: 15px;
    font-family: Inter, sans-serif;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-card:hover {
    background: #efefef;
}


.product-name {
    margin-top: 15px;
    font-size: 18px;
    transition: color 0.2s ease;
}

.product-category {
    font-size: 14px;
    color: #5D5D5D;
    margin-bottom: 20px;
}

.product-description {
    font-size: 14px;
    color: #272727;
}

.go-icon {
    transition: color 0.2s ease;
}

.product-card:hover .go-icon {
    color: #67C96C;
}

.icon-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
}