.dishes-wrapper {
  padding: 15px 35px;
}

.dishes-wrapper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap;  */
  /* gap: 10px;  */
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  /* margin-bottom: 30px; */
  border-radius: 5px;
  gap: 10px;
  /* margin-top: -20px; */
}

.tab {
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: #62636c;
  background: #eff0f3;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

.tab:hover {
  background: #e7e8ec;
}

.tab.active {
  background-color: #11b05e;
  color: white;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 10px));
  justify-content: space-between;
  gap: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.more-button {
  width: 230px;
  height: 42px;
  background-color: #11b05e;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.more-button:hover {
  background-color: #00a355;
}

.add-dish-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #11b05e;
  color: white;
  border: none;
  padding: 10px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.add-dish-button:hover {
  background-color: #00a355;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 1000;
}

.modal-content-add {
  font-family: Inter, sans-serif;
  cursor: auto;
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal h3 {
  font-size: 18px;
  color: black;
  padding-bottom: 10px;
}

.modal input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container-1 {
  width: 100%;
  max-width: 400px;
  padding-bottom: 8px;
}

.modal-content-add input {
  height: 40px;
  width: 260px;
  margin-bottom: 16px;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #6E6E6E;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: lighter;
}

.modal-content-add input:focus {
  border: 1px solid #11B05E;
  box-shadow: 0 0 2px rgba(103, 201, 108, 0.4);
  outline: none;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 36px;
  gap: 8px;
}

.add-btn {
  background: #11b05e;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-btn:hover {
  background: #00a355;
}

.cancel-btn {
  background: #EFF0F3;
  color: #62636C;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cancel-btn:hover {
  background: #E7E8EC;
}
