.footer-container {
    display: flex;
    background-color: #424141;
    height: 194px;
    width: 100%;
    margin-top: 120px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 194px;
    background-color: #424141;
    color: white;
    font-size: 14px;
    font-family: Inter, sans-serif;
    margin-top: 50px;
}

footer .logo1 {
    margin: 50px 1px 98px 24px;
}

.text1 {
    margin-top: 40px;
    font-size: 14px;
    flex-direction: column;
    font-weight: 300;
}

.text3 {
    margin-top: 30px;
    font-size: 14px;
    flex-direction: column;
    font-weight: 300;
    color: #C4C4C4;
}

.text1 p:hover {
    color: #a5a5a5;
}

.main_text {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
}

.text1 p {
    margin-bottom: 10px;
    color: #C4C4C4;
    cursor: pointer;
}

.footer-logo-img {
    width: 164px;
    height: 46px;
    margin-top: -8px;
}

.about-container {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 300;
    color: #C4C4C4;
}

.about-container p {
    margin-bottom: 10px;
}

.footer-socials {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 10px;
    margin-right: 24px;
}

.footer-socials a {
    color: white;
    transition: color 0.3s;
    font-size: 24px;
}

.footer-socials a:hover {
    color: #a5a5a5;
}