.root {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.root li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #09090B;
  width: 40px;
  height: 40px;
  border-radius: 0.375rem;
  margin: 0 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}

.root li a:hover {
  background-color: #F0F0F0;
}

.root li.selected a {
  border: 1px solid #e5e7eb !important;
}

.root li.previous a,
.root li.next a {
  display: flex;
  align-items: center;
  justify-content: center;
}