.root-1 {
  position: relative;
  display: flex;
  align-items: center;
  width: 500px;
  background-color: #0000330f;
  border-radius: 4px;
}

.input {
  flex: 1;
  padding: 14px 12px;
  font-size: 14px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #858585;
}

.input::placeholder {
  color: #666666;
  opacity: 0.8;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  color: #666666;
  flex-shrink: 0;
}

.clearIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: #666666;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.clearIcon:hover {
  background-color: #E0E1E6;
}
